<div id="introPage">   
<h2>Description:</h2>
<p id="description"><strong>Budge It!</strong> is a user-friendly web application designed to help individuals manage their finances effectively. With this application, users can easily keep track of their bills, expenses, and available funds using an intuitive calendar interface and a built-in calculator.
</p>

<h2 id="howTo">How to use this web-site:</h2>
<ol>
  <li><strong>Account Creation/Login:</strong>
    <ul>
      <li>Sign up or log in to your account.</li>
    </ul>
  </li>
  <li><strong>Adding Bills and Spendings:</strong>
    <ul>
      <li>Add your bills and spendings to the calendar.</li>
    </ul>
  </li>
  <li><strong>Calculating Available Funds:</strong>
    <ul>
      <li>Click "Calculate" to determine available funds.</li>
      <li>Choose month, day, input money, and select days forward.</li>
      <li>Submit and see remainder (<span id="green">green</span> if positive, <span id="red">red</span> if negative).</li>
    </ul>
  </li>
  {{!-- <li><strong>Analyzing Spending Patterns:</strong>
    <ul>
      <li>View diagrams showing spending categories.</li> --}}
    </ul>
  </li>
</ol>
</div>