header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#budgetPage,
#introPage {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#description {
  max-width: 800px;
}

#introPage > p,
#introPage > ol > li {
  font-size: x-large;
}

#introPage {
  margin-top: 180px;
  margin-bottom: 180px;

}

#introPage h2 {
  text-shadow: 2px 2px 3px rgba(220, 220, 220, 0.5);
}

#green {
  text-shadow: 1px 1px 4px rgba(120, 255, 192, 0.5);
  color: green;
}

#red {
  text-shadow: 1px 1px 1px rgba(255, 114, 140, 0.5);
  color: red;
}

#howTo {
  margin-top: 40px;
  
}

* {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

strong {
  text-shadow: 1px 1px 1px rgba(77, 184, 246, 0.5);
  color: #1b89bc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
